name: Check version

on:
  pull_request:
    branches:
      - master
      - main

env:
  NODE_VERSION: 22.9.0

jobs:
  check-version:
    name: Check version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Get PR version
        id: pr_version
        run: echo "VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get main version
        id: main_version
        run: echo "VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Compare versions
        run: |
          if [ "${{ steps.pr_version.outputs.VERSION }}" != "${{ steps.main_version.outputs.VERSION }}" ]; then
            echo "Version changed: ${{ steps.pr_version.outputs.VERSION }}"
          else
            echo "Version did not change"
            exit 1
          fi
