name: Publish to NPM

on:
  push:
    branches:
      - master
      - main

jobs:
  publish-npm:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install node modules
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm install --no-lockfile --ignore-scripts --prefer-offline --unsafe-perm

      - name: Build the project
        run: npm run build

      - name: Publish the project
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
